#month {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    max-width: fit-content;
    margin: 0 auto;
    align-items: center;
}
#month > div:first-child {
    display: flex;
    width: 100%;
}
#month button {
    border: none;
    background-color: var(--object-3);
}

.day-blocks,
.day-blocks > div {
    gap: 0.5em;
}
.day-blocks span {
    min-width: 1.5em;
    text-align: center;
    background-color: #111;
    border-radius: 8px;
    padding: 0.5em;
}
.week-days {
    gap: 1.5em;
    padding: 0 0.25em;
}
.week-days span {
    width: 1.5rem;
    text-align: center;
    font-size: 14px;
}

/* / / / / PHASES */

#cycle {
    position: sticky;
    bottom: 3.5em;
    padding: 1em 0;
    padding-bottom: 2em;
    background-color: rgb(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#phases span {
    height: 1em;
}
#phase-1 {
    border-radius: 1em 0 0 1em;
}
#phase-4 {
    border-radius: 0 1em 1em 0;
}
#phase-1 {
    flex-grow: 5;
    background-color: purple;
}
#phase-2 {
    flex-grow: 8;
    background-color: red;
}
#phase-3 {
    flex-grow: 1;
    background-color: orange;
}
#phase-4 {
    flex-grow: 15;
    background-color: orangered;
}
#phase-pointer {
    position: absolute;
    left: 3em;
    width: 1em;
    background-color: white;
    animation: point 2s infinite;
}
@keyframes point {
    50% {
        rotate: 180deg;
    }
}
